@media screen and (min-width: 700px) {
    header {
        display: flex;
        margin-top: -1rem;
        align-items: flex-end;
        border: 5px solid var(--blue);
        border-radius: 20px;
    }
    header img {
        display: inline-block;
        margin: 1rem 2rem 0;
    }
    header nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
    header nav a {
        display: block;
        margin: .5rem auto;
    }
    #hero-title {
        margin-top: 28rem;
    }
    .hero-img img {
        border-radius: 10px;
    }
    #services {
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }
    #list-background {
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: fit-content;
        padding: 2rem 4rem;
        height: fit-content;
        margin: auto auto;
        border-radius: 10px;
    }
    .service-list li {
        margin: 2rem auto;
    }
    #more-services {
        font-size: 2rem;
    }
    #services img {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: auto;
        margin-right: 0;
        border-radius: 10px;
    }
    .gallery {
        max-width: 700px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    main {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
    footer {
        border: 5px solid var(--blue);
        border-radius: 20px;
        border-bottom: none;
        margin-bottom: -1rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    footer p:nth-of-type(2) {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }
    #home-display-imgs {
        max-width: 100%;
    }
    #menu {
        display: none;
    }
    #service-title {
        font-size: 3rem;
    }
    .service-description {
        font-size: 1.4rem;
    }
    .service-title {
        font-size: 2rem;
    }
    .service-connect {
        font-size: 2.2rem;
    }
}

@media screen and (min-width:1100px) {
    .service-description {
        max-width: 70%;
    }
}

@media screen and (min-width: 1300px) {
    .service-description {
        max-width: 60%;
    }
}